.section2{
    background-color: var(--darkbg);
    width: 1320px;
}

.cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 450px;
    height: 500px;
    border: solid 3px var(--sndcolor);
    justify-content: center;
    border-radius: 50px;
    box-shadow: black 10px 5px 40px;
}

.souscard{
    width: 100%;
    height: 220px;
    text-align: center;

}

.minicard{
    background-color:  var(--sndcolor);
    height: 220px;
    width: 250px;
    border-radius: 25px;
    position: relative;
    left: 22%;
    bottom: 50px;
    box-shadow: black 10px 5px 40px;

}

.card2{
    width: 450px;
    height: 500px;
    border: solid 3px var(--sndcolor);
    border-radius: 50px;
    box-shadow: black 10px 5px 40px;

}

.titrecard{
    text-align: center;
    font-size: 1.1rem;
}