:root{
    --white : #fff;
    --colorfont :#e4e4e4 ;
    --sndcolor : #4a5cfc;
    --sndcolorhover : #374bff;

    --darkbg : rgb(28, 28, 31);
    --darkbgb : rgb(29, 29, 36);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--darkbg);
    color: var(--colorfont);
}

.inner{
    width: 80%;
    margin: auto;
}

.container{
    max-width: 1320px;
    margin: auto;
    
}

.d-flex{
    display: flex;
}

.section {
    width: 1320px;
    padding-bottom: 40px;
}

.loader{
    width: 100%;
    height: 100vh;
    background-color: var(--darkbg);
    display: flex;
    justify-content: center; 
    align-items: center;
}