:root{
    --white : #fff;
    --colorfont :#212529 ;
    --sndcolor : rgb(93, 33, 206);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
    color: var(--colorfont);
}

.inner{
    width: 80%;
    margin: auto;
}

.container{
    max-width: 1320px;
    margin: auto;
    
}

.d-flex{
    display: flex;
}

